<template>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <router-link to="/" class="navbar-brand" exact>
          <img class="logo" src="~assets/logo.png" alt="logo">
        </router-link>
      </div>
      <div class="collapose navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <router-link to="/about">Home</router-link>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown user-menu">
            <a href="#">
              <img src="" class="user-image" />
              <span>Test</span>
            </a>
          </li>
          <li class="dropdown settings-menu">
            <a href="#">
              <span class="material-icons">settings</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'navbar',
};
</script>

<style lang="scss">
  .material-icons {
    display: block;
    font-size: 20px;
  }
  .navbar-brand > img {
    height: 20px;
  }
</style>
